body{
    font-family: 'Poppins', sans-seri
}
.porto{
    background-image: url("donation13.jpg");
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
    
}
.topic{
    color: #ffffff;
    text-align: center;
    padding-top: 120px;
    font-size: 40px;
}
.foc{
    color: #ffffff;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    padding-top: 0;
}
.dell{
    text-decoration: none;
    background-color: #ff6347;
    width: 12%;
    margin-left: 44%;
    padding: 7px 8px;
    color: #ffffff;
    border-radius: 5px;
}
.google{
    text-align: center;
}
.gen{
    text-align: center;
    width: 60%;
    margin-left: 21%;
}
.main{
    text-align: center;
}
.ab{
    font-size: 30px;
border-radius: 4px;
background-color: silver;
border: 2px solid silver;
padding: 20px 13px;
text-decoration: none;
color: dimgrey;
}
.ca{
    font-size: 30px;
    border-radius: 4px;
    background-color: silver;
    border: 2px solid silver;
    padding: 20px 13px;
    text-decoration: none;
    color: dimgrey;
    }

.ac{
    font-size: 30px;
    border-radius: 4px;
    background-color: silver;
    border: 2px solid silver;
    padding: 20px 13px;
    text-decoration: none;
    color: dimgrey;
    }

.abc{
    font-size: 30px;
    border-radius: 4px;
    background-color: silver;
    border: 2px solid silver;
    padding: 20px 13px;
    text-decoration: none;
    color: dimgrey;
    }
    .bc{
        font-size: 30px;
        border-radius: 4px;
        
        border: 2px solid  red;
        padding: 20px 13px;
        text-decoration: none;
        color: red;
        }
    .better{
        margin-left: 40%;
        padding: 15px 20px;
        width: 24%;
        border: 0;
        font-size: 15px;
    }
    .menu{
        text-decoration: none;
        margin-left: 43%;
        background-color: #ff6347;
        padding: 7px 20px;
        border-radius: 4px;
        color: #ffffff;
       }
       .clap{
        font-size: 25px;
        text-align: center;
        margin-top: 80px;
       }
       .crop{
        width: 70%;
        text-align: center;
        margin-left: 15%;
       }
       .demo{
        height: 50px;
        padding-left: 40%;
        padding-top: 24px;

       }
       .full{
        width: 30%;
        font-size: 13px;
        padding-left: 20px ;
       }
       .choice{
        font-size: 20px;
        padding-left: 20px;
       }
       .poem{
        width: 28%;
        font-size: 13px;
       }
       .lorem{
        width: 28%;
        font-size: 13px;
        margin-left: 4%;
       }
       .manner{
        width: 100%;
       display: flex;
       }
      .first{
        width: 80%;
        border: 4px solid skyblue;
        background-color: skyblue;
        border-radius: 8px;
        margin-left: 55px;
        height: 48%;
        padding-right: 24px;

      }
      .poor{
        width: 80%;
        background-color:pink;
        padding-left:40px ;
        margin-left: 25px;
        padding-top: 30px;
        border-radius: 8px;
        height: 55%;
        
      }
      .focl{
        width: 90%;
        padding-left:30px ;
       
        padding-top: 30px;
        border-radius: 8px;
        background-color: lemonchiffon;
        margin-right: 6%;
        margin-left: 25px;
        height: 50%;
        padding-right: 10px;
      }
      .level{
      padding-left: 30%;
      }
      .cust{
        padding-left: 30%;
      }
      .num{
        font-size: 20px;
      }
      .moon{
        font-size: 20px;
        padding-left: 7px;
      }
     .link{
        text-decoration: none;
        background-color: #ff6347;
        padding: 5px 7px;
        border-radius: 5px;
        color: #ffffff;
        font-size: 13px;
     }
     .top-section{
        display: flex;
        margin: 10%;
     }
     .half{
        width: 50%;
     }
     .half img{
        width: 95%;
        height: 280px;
        padding-left: 15px;
     }
     .btn{
        text-decoration: none;
        background-color: #ff6347;
        padding: 5px 7px;
        border-radius: 5px;
        color: #ffffff;
       font-size: 13px;
     }
     .half-width{
        width: 50%;
     }
     .half-width img{
        width: 95%;
        height: 280px;
        padding-right: 15px;
     }
     .top-level{
        display: flex;
        margin: 10%;
     }
     .rich{
        width: 60%;
        text-align: center;
        margin-left: 23%;
     }
     .caller h1{
        text-align: center;
     }
     .zee{
       background-color: silver; 
       border: solid silver;
      padding-top: 8px ;
      padding-bottom: 8px;
      padding-right: 25px;
      border-radius: 3px;
      margin-left: 110px;
     }
     .florida a{
      background-color: red;
      color: #ffffff;
      padding: 7px;
      border-radius:3px ;
      text-decoration: none;
     }
     
     
     .florida{
      background-color: bisque;
      width: 50%;
      margin-left: 21%;
      padding: 50px;
      border-radius: 8px;
     }
     .footer{
      background-color: black;
      height: 110px;
      
     }
     .footer h1{
      color: #ff6347;
      font-family: 'Lobster Two', cursive;
      text-align: center;
      padding-top: 19px;
     }
     .footer p{
       color: #ffffff;
       text-align: center;
       font-size: 10px;
     }